aside{

  background-color:#262626;
  min-height: 100vh;
  box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.75);
  z-index: 2;
}
*{
  color: white;
  font-family: acumin-pro, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
nav a{

  margin: 25px 0;
  font-family: acumin-pro-bold, sans-serif;
  color: white;
  font-size: 1.5rem;
}
nav a:hover{
  margin: 25px 0;
  font-family: acumin-pro-bold, sans-serif;
  color: white;
  text-decoration: none;
}
nav{
  margin-top: 25%;
}
#realisation{
  height: 100vh;
}
#realisation > div{

  height: 100vh;
}
#realisation > div:nth-child(even)> div {
  background-color: #595959;
  bottom: 0px;
  top:0px;
  right: 0px;
  left: 0px;
  opacity: 0.9;
}
#realisation > div:nth-child(odd)> div {
  background-color: #8C8C8C;
  bottom: 0px;
  top:0px;
  right: 0px;
  left: 0px;
  opacity: 0.9;
}



img{
  height: 100%;
  width: 100%;
}