.accessibility{

    margin: 4px 25px;
  
    span{
      margin: 0px 5px;
      cursor: pointer;
  
  
    }
    span:hover{
      color :#e50914;
    }

  }

  .accessibility__font--active{
    
    font-family: 'OpenDyslexic-Regular';

  }