.accessibility{

    margin: 0px 25px;
    display: flex;
    align-items: flex-start;
  
    span{
      margin: 0px 5px;
      cursor: pointer;
  
  
    }
    span:hover{
      color :#e50914;
    }

  }

  .accessibility__font--active{
    
    font-family: 'OpenDyslexic-Regular';

  }

  .lang{

    margin-top: 0px;
    margin-bottom: 0px;
  }