.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10%;
}

.homepage__title {
  font-size: 10rem;
  border-bottom: 5px solid #e50914;
  margin-bottom: 15px;
}

.homepage__job {
  font-size: 2rem;
}

.homepage__head {
  width: 30%;
  border: aliceblue 2px solid;
  min-height: 500px;
  margin-left: auto;
  background: url(./../img/homepage_picture.jpg);
  background-position: center;
  background-size: cover;
}

.homepage__down {
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
