.navbar {
  padding: 25px;
  color: white;
  display: flex;

}

.navbar__name {
  font-size: larger;
}

.navbar nav {
  margin-left: auto;

  @include screen_mid{
    display: none;
  }
}

.navbar__accessibility *{

  @include screen_mid{
    display: none;
  }
}

.navbar__link {
  margin: 0px 25px;
  color: white;
  padding-bottom: 5px;
}

.navbar__link:hover {
  animation: link 0.5s;
  font-size: 110%;
  border-bottom: 2px solid #e50914;
}

@keyframes link {
  from {
    font-size: 100%;
  }

  to {
    font-size: 110%;
    border-bottom: 2px solid #e50914;
  }
}
