.presentation {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.presentation__title {
  margin-right: auto;
  font-size: 300%;
  padding: 5px 0px;
  border-bottom: 2px solid #e50914;
}

.presentation__text {
  width: 75%;
  margin-bottom: auto;
  margin-top: 5%;
  border: 3px aliceblue solid;
  padding: 2%;
  font-size: larger;
}

.presentation__cv {
  border: aliceblue 2px solid;
  padding: 5px;
}



.presentation__toolbox {
  width: 75%;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

