.realisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.realisation__mainTittle {
  margin-left: auto;
  font-size: 300%;
  padding: 5px 0px;
  border-bottom: 2px solid #e50914;
}

.realisation__container {
  width: 90%;
  margin-top: 5%;
  padding: 2%;
  font-size: larger;
  display: flex;
  height: 95%;
  position: relative;
}
.realisation__container > div {
  margin: 15px;
  border: 3px aliceblue solid;
}

.realisation__title {
  margin-bottom: 15px;
  border-bottom: #e50914 2px solid;
  padding: 3px;
  margin: 25px 15px;
}

div div .realisation__img {
  height: 35%;
  transition: height 0.25s;
}

.realisation__resume {
  margin: 0px 15px;
}

div:first-child > .realisation__img {
  background: url(./../img/dacharyprod.jpg);
  background-position: center;
  background-size: cover;
}

div:nth-child(2) > .realisation__img {
  background: url(./../img/studangouleme.png);
  background-position: center;
  background-size: cover;
}
div:last-child > .realisation__img {
  background: url(./../img/mastermind.jpg);
  background-position: center;
  background-size: cover;
}

.realisation__containerbtn {
  height: 10%;
  margin-bottom: auto;
  position: absolute;
  bottom: 25px;
}

.close {
  display: none;
}
.link{
  display: none;
}

.realisation__content{

  display: flex;
}

.realisation__techno{

  display: none;
  width: 100%;

  h6{
    margin: 15px;

  }

  li{

    padding: 15px;
    margin-left: 7px;
  }
}

.realisation__btn--link{

  border-bottom: #e50914 solid 2px;
}
